{% load staticfiles %}
<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box"> <span class="info-box-icon bg-info"><i class="fas fa-video"></i></span>
                <div class="info-box-content"> <span class="info-box-text">Файлов</span> <span class="info-box-number counter">{{files}}</span> </div> <!-- /.info-box-content -->
            </div> <!-- /.info-box -->
        </div> <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box"> <span class="info-box-icon bg-success"><i class="fas fa-video"></i></span>
                <div class="info-box-content"> <span class="info-box-text">Копий в облаке</span> <span class="info-box-number counter">100</span></div> <!-- /.info-box-content -->
            </div> <!-- /.info-box -->
        </div> <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box"> <span class="info-box-icon bg-warning"><i class="fas fa-tv"></i></span>
                <div class="info-box-content"> <span class="info-box-text">Обьем файлов</span> <span class="info-box-number counter">100</span> </div> <!-- /.info-box-content -->
            </div> <!-- /.info-box -->
        </div> <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box"> <span class="info-box-icon bg-danger"><i class="fas fa-star"></i></span>
                <div class="info-box-content"> <span class="info-box-text">1</span> <span class="info-box-number counter">100</span> </div> <!-- /.info-box-content -->
            </div> <!-- /.info-box -->
        </div> <!-- /.col -->
    </div>
</div> <!-- /.container-fluid -->
<script src="{% static "panel/plugins/waypoints/lib/jquery.waypoints.js" %}" /></script>
<script src="{% static "panel/plugins/counterup/jquery.counterup.min.js" %}" /></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>